{
  "extends":"airbnb",
  "env":{
    "browser":false
  },
  "settings":{
  },
  "rules":{
    "import/no-unresolved":"off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  }
}
