#copy-icon {
    background-color: white;
    border-radius: 50%;
    padding: 4px;
    margin-right: 7px;
    font-size: 15px;
}

#copied-text {
    margin: auto 15px;
}

#copy-content {
    background: #EBEBEB;
    border-radius: 6px;
}