<ion-content class="ion-padding bg-light">
  <div class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="6">
        <ion-input class="bg-white" [(ngModel)]="searchValue" placeholder="Search address, transactions, blocks"></ion-input>
      </ion-col>
      <ion-col>
        <ion-button color="primary" (click)="onSearch()">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>

        <ion-button color="light">
          <img src="../assets/images/tapyrus-logo.png" height="30" width="30">
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

    <ion-grid class="ion-padding" id="table">
      <ion-row id="table-header">
        <ion-col size="2">HEIGHT</ion-col>
        <ion-col size="6">HASH</ion-col>
        <ion-col size="2">TIME</ion-col>
        <ion-col size="2">SIZE</ion-col>
      </ion-row>
      <ion-row *ngFor="let txn of transactions | paginate: { itemsPerPage: perPage, currentPage: page }">
        <ion-col size="2" class="font-14 link-color">{{ txn.height }}</ion-col>
        <ion-col size="6" class="font-14 link-color" (click)="goToBlock()">{{ txn.hash }}</ion-col>
        <ion-col size="2" class="font-14 text-color">{{ txn.time | momentFromNow }}</ion-col>
        <ion-col  size="2" class="font-14 text-color">{{ txn.size }}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="ion-text-right">
    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
  </div>
</ion-content>
