<ion-content class="pb-footer">
  <div class="ion-padding">
    <div class="bg-white ion-padding">
      <div class="flex">
        <!-- <ion-back-button defaultHref="/blocks"></ion-back-button> -->
        <ion-icon  size="large" name="chevron-back-circle-outline" id="arrow-icon" (click)="goToBlocks()"></ion-icon>
        <p id="block-header-text">Block #{{ block.height }}</p>
        <ion-button color="primary" size="small" id="raw-data-btn" (click)="goToBlockRawData()">Raw Data</ion-button>
      </div>
      <div id="block-hash-bg" class="font-14">
        BlockHash <p class="text-color" id="block-hash-text">{{ block.blockHash }}</p>
      </div>
      <hr/>
      <ion-grid class="font-14 text-color">
        <ion-row>
          <ion-col size="4" class="font-w500">No. of Transactions:</ion-col>
          <ion-col size="8">{{ block.ntx }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="font-w500">Height:</ion-col>
          <ion-col size="8">{{ block.height }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="font-w500">Timestamp:</ion-col>
          <ion-col size="8">{{ block.timestamp }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="font-w500">Proof:</ion-col>
          <ion-col size="8">{{ block.proof }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="font-w500">Size(Bytes):</ion-col>
          <ion-col size="8">{{ block.sizeBytes }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="font-w500">Version:</ion-col>
          <ion-col size="8">{{ block.version }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="font-w500">Merkle Root:</ion-col>
          <ion-col size="8">{{ block.merkleRoot }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="font-w500">Immutable Merkle Root:</ion-col>
          <ion-col size="8">{{ block.immutableMerkleRoot }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="font-w500">Previous Block:</ion-col>
          <ion-col size="8">{{ block.previousBlock }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="font-w500">Next Block:</ion-col>
          <ion-col size="8">{{ block.nextBlock }}</ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="bg-white ion-padding ion-margin-top">
      <div class="flex">
        <ion-icon  size="large" name="chevron-down-circle-outline" id="arrow-icon"></ion-icon>
        <p id="transactions-header">View Transactions</p>
      </div>
    </div>
  </div>
</ion-content>
