<ion-content class="pb-footer">
  <div class="ion-padding">
    <div class="bg-white ion-padding">
      <div class="flex">
        <!-- <ion-back-button defaultHref="/blocks"></ion-back-button> -->
        <ion-icon
          size="large"
          name="chevron-back-circle-outline"
          id="arrow-icon"
          class="cursor-pointer"
          (click)="goToBlocks()"
        ></ion-icon>
        <p id="block-header-text">Block #{{ block.height }}</p>
        <ion-button
          color="primary"
          size="small"
          id="raw-data-btn"
          class="cursor-pointer"
          (click)="goToBlockRawData()"
          >Raw Data</ion-button
        >
      </div>
      <div id="block-hash-bg" class="font-14">
        BlockHash
        <p class="text-color text-wrap" id="block-hash-text">
          {{ block.blockHash }}
        </p>
      </div>
      <ion-item-divider></ion-item-divider>
      <ion-grid class="font-14 text-color">
        <ion-row class="block">
          <ion-col size="2" class="font-w500">No. of Transactions:</ion-col>
          <ion-col size="8">{{ block.ntx }}</ion-col>
        </ion-row>
        <ion-row class="block">
          <ion-col size="2" class="font-w500">Height:</ion-col>
          <ion-col size="8">{{ block.height }}</ion-col>
        </ion-row>
        <ion-row class="block">
          <ion-col size="2" class="font-w500">Timestamp:</ion-col>
          <ion-col size="8">{{ block.timestamp }}</ion-col>
        </ion-row>
        <ion-row class="block">
          <ion-col size="2" class="font-w500">Proof:</ion-col>
          <ion-col size="8">{{ block.proof }}</ion-col>
        </ion-row>
        <ion-row class="block">
          <ion-col size="2" class="font-w500">Size(Bytes):</ion-col>
          <ion-col size="8">{{ block.sizeBytes }}</ion-col>
        </ion-row>
        <ion-row class="block">
          <ion-col size="2" class="font-w500">Version:</ion-col>
          <ion-col size="8">{{ block.version }}</ion-col>
        </ion-row>
        <ion-row class="block">
          <ion-col size="2" class="font-w500">Merkle Root:</ion-col>
          <ion-col size="8">{{ block.merkleRoot }}</ion-col>
        </ion-row>
        <ion-row class="block">
          <ion-col size="2" class="font-w500">Immutable Merkle Root:</ion-col>
          <ion-col size="8">{{ block.immutableMerkleRoot }}</ion-col>
        </ion-row>
        <ion-row class="block">
          <ion-col size="2" class="font-w500">Previous Block:</ion-col>
          <ion-col
            size="8"
            class="link-color cursor-pointer"
            (click)="goToBlock(block.previousBlock)"
            >{{ block.previousBlock }}</ion-col
          >
        </ion-row>
        <ion-row class="block">
          <ion-col size="2" class="font-w500">Next Block:</ion-col>
          <ion-col
            size="8"
            class="link-color cursor-pointer"
            (click)="goToBlock(block.nextBlock)"
            >{{ block.nextBlock }}</ion-col
          >
        </ion-row>
      </ion-grid>
    </div>

    <div class="bg-white ion-padding ion-margin-top display-none-max-lg">
      <div class="flex">
        <ion-icon
          size="large"
          name="chevron-down-circle-outline"
          id="arrow-icon"
          class="cursor-pointer"
          *ngIf="!openTxns"
          (click)="getBlockTxnsInfo()"
        ></ion-icon>
        <ion-icon
          size="large"
          name="chevron-up-circle-outline"
          id="arrow-icon"
          class="cursor-pointer"
          color="danger"
          *ngIf="openTxns"
          (click)="closeTxns()"
        ></ion-icon>
        <p id="transactions-header" *ngIf="!openTxns">View All Transactions</p>
        <p id="transactions-header" *ngIf="openTxns">Close All Transactions</p>
      </div>
    </div>

    <div
      class="ion-text-right display-none-min-lg cursor-pointer"
      *ngIf="!openTxns"
    >
      <p id="transactions-header">
        <u class="ion-margin-right">View All Transactions</u>
        <ion-icon
          class="font-24 cursor-pointer"
          color="primary"
          name="chevron-forward-circle-outline"
          id="arrow-icon"
          (click)="getBlockTxnsInfo()"
        ></ion-icon>
      </p>
    </div>

    <div class="display-none-min-lg cursor-pointer" *ngIf="openTxns">
      <p id="transactions-header">
        <ion-icon
          class="font-24 cursor-pointer"
          color="danger"
          name="chevron-back-circle-outline"
          id="arrow-icon"
          (click)="closeTxns()"
        ></ion-icon>
        <u class="ion-margin-right">Close All Transactions</u>
      </p>
    </div>

    <div *ngIf="openTxns">
      <div
        class="bg-white ion-padding ion-margin-bottom"
        *ngFor="let tx of blockTxns | paginate: { itemsPerPage: perPage, currentPage: page, totalItems: block.ntx +1 }"
      >
        <ion-row class="block">
          <ion-col size="8" class="ion-text-left">
            <div
              class="text-primary pl-5 cursor-pointer"
              (click)="goToTransaction(tx.txid)"
            >
              <ion-icon
                name="add-circle"
                color="primary"
                class="cursor-pointer"
                (click)="goToTransaction(tx.txid)"
              ></ion-icon>
              {{ tx.txid }}
            </div>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <div>
              Verified: {{ tx.status.block_time * 1000 | date: 'MMM dd, yyyy
              hh:mm:ss' }}
            </div>
          </ion-col>
        </ion-row>

        <ion-grid>
          <ion-row class="word-break">
            <ion-col size-xs="12" size-sm="12" size-md="5">
              <div *ngFor="let input of tx.vin">
                <div *ngIf="input.is_coinbase">
                  No Inputs (Newly Generated Coins)
                </div>
                <div *ngIf="!input.is_coinbase">
                  <ion-col
                    size="8"
                    class="ion-no-margin text-primary cursor-pointer"
                    (click)="goToAddress(input.prevout.scriptpubkey_uncolored_address)"
                    >{{ input.prevout.scriptpubkey_uncolored_address }}</ion-col
                  >
                  <ion-col
                    size="4"
                    class="ion-no-margin ion-text-right text-gray"
                    >{{ input.prevout.value | asTpc }} TPC</ion-col
                  >
                </div>
              </div>
            </ion-col>
            <ion-col
              size-xs="12"
              size-sm="12"
              size-md="2"
              class="ion-text-center"
            >
              <ion-icon
                name="arrow-forward"
                size="large"
                class="display-none-max-md"
              ></ion-icon>
              <ion-icon
                name="chevron-down-outline"
                size="large"
                class="display-none-min-md"
              ></ion-icon>
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="5">
              <div *ngFor="let vout of tx.vout" class="mb-5">
                <ion-col
                  size="8"
                  class="text-primary cursor-pointer"
                  (click)="goToAddress(vout.scriptpubkey_uncolored_address)"
                  >{{ vout.scriptpubkey_uncolored_address }}</ion-col
                >
                <ion-col size="4" class="ion-text-right text-gray"
                  >{{ vout.value | asTpc }} TPC</ion-col
                >
              </div>
            </ion-col>
          </ion-row>
          <ion-item-divider></ion-item-divider>

          <ion-row class="ion-justify-content-end">
            <ion-col
              size="6"
              size-sm="4"
              size-md="3"
              size-lg="2"
              *ngIf="tx.fee > 0"
            >
              <ion-item color="medium" *ngIf="tx.fee > 0">
                <ion-label class="ion-text-center">
                  FEE: {{ tx.fee | asTpc }} TPC
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col
              size="6"
              offset="0"
              size-sm="4"
              offset-sm="0"
              size-md="3"
              offset-md="3"
              size-lg="2"
              offset-lg="6"
              ion-align-items-end
            >
              <ion-item color="medium">
                <ion-label class="ion-text-center">
                  {{ block.confirmations || 0 }} CONFIRMATIONS
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col
              size="6"
              size-sm="4"
              size-md="3"
              size-lg="2"
              ion-align-items-end
            >
              <ion-item color="primary">
                <ion-label class="ion-text-center">
                  {{ tx.totalVout | asTpc }} TPC
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-right">
            <pagination-controls
              (pageChange)="onPageChange($event)"
            ></pagination-controls>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
