/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

a {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.split-pane-visible > .split-pane-side {
  min-width: 175px !important;
  max-width: 175px !important;
}

.pb-footer {
  --padding-bottom: 150px !important;
}

.bg-white {
  --background: white !important;
  background-color: white !important;
}

.link-color {
  color: #125fa8 !important;
}

.text-color {
  color: #898989 !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-w500 {
  font-weight: 500 !important;
}

.flex {
  display: flex !important;
}

.raw-data-modal {
  @media (max-width: 575px) {
    ion-content {
      --background: transparent !important;
    }
  }
  @media (min-width: 992px) {
    .modal-wrapper {
      --height: 50% !important;
    }
  }
}
