ion-content {
  --background: var(
    --ion-item-background,
    var(--ion-background-color, #e5e5e5)
  ) !important;
}

#block-header-text {
  @media (max-width: 539px) {
    font-size: 16px;
    margin: 17px 10px 10px;
  }

  @media (min-width: 540px) {
    font-size: 36px;
    margin: 0px 10px 20px;
  }

  font-weight: 500;
}

#block-hash-bg {
  display: flex;
  background-color: #f6f6f6;
  padding: 6px;
}

#block-hash-text {
  margin: 0px 5px;
}

#raw-data-btn {
  height: 20px;
  font-size: 12px;
  margin-top: 16px;
}

#transactions-header {
  margin-top: 12px 10px 0px;
  font-weight: 500;
}

.table-content {
  padding: 10px 10px;
}

#arrow-icon {
  margin-top: 6px;
  margin-right: 20px;
}

.text-primary {
  color: var(--ion-color-primary) !important;
}

.word-break {
  word-break: break-all !important;
}

.btn-gray {
  --background: #bfbfbf !important;
  --color: white;
}

.vin-vout-input {
  background-color: #ebebeb;
  padding: 8px;
}

.text-gray {
  color: #898989;
}

.mb-5 {
  margin-bottom: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.text-wrap {
  word-break: break-all;
}

.display-none-min-lg {
  @media (min-width: 992px) {
    display: none;
  }
}

.display-none-max-lg {
  @media (max-width: 991px) {
    display: none;
  }
}

.display-none-min-md {
  @media (min-width: 768px) {
    display: none;
  }
}

.display-none-max-md {
  @media (max-width: 767px) {
    display: none;
  }
}

.font-24 {
  font-size: 24px;
}
