<ion-content class="pb-footer">
  <div class="ion-padding">
    <div class="bg-white ion-padding">
      <ion-row>
        <ion-col size="8">
          <div class="flex">
            <p id="block-header-text">Address</p>
            <p class="text-wrap">{{ address }}</p>
            <ion-icon name="copy-outline" color="primary" style="margin:16px 2px;" id="copy-icon"></ion-icon>
          </div>
          <div id="block-hash-bg" class="font-14 text-wrap">
            Balance <p class="text-color" id="block-hash-text">{{ balanced }} TPC</p>
          </div>
        </ion-col>
        <ion-col size="4" class="ion-text-end">
          <ngx-qrcode
            [(qrc-value)]="qrcode"
            qrc-element-type="url"
          ></ngx-qrcode>
        </ion-col>
      </ion-row>
        <ion-item-divider></ion-item-divider>
        <ion-grid class="font-14 text-color">
          <ion-row>
            <ion-col size="4" class="font-w500">Total Received:</ion-col>
            <ion-col size="8">{{ received }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4" class="font-w500">Total Sent:</ion-col>
            <ion-col size="8">{{ sent }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4" class="font-w500">No. Transactions:</ion-col>
            <ion-col size="8">{{ txidsCount }}</ion-col>
          </ion-row>
        </ion-grid>
    </div>

    <div class="bg-white ion-padding ion-margin-top">
      <ion-row>
        <ion-col size="12">
          <p id="block-header-text">Transactions</p>
        </ion-col>
      </ion-row>
      <ion-row class="table-header">
        <ion-col size="3" class="pt-10">TXID</ion-col>
        <ion-col size="1" class="pt-10">BLOCK</ion-col>
        <ion-col size="1" class="pt-10">AGE</ion-col>
        <ion-col size="5">
          <ion-row>
            <ion-col size="5">FROM</ion-col>
            <ion-col size="5">TO</ion-col>
            <ion-col size="2">VALUE(TPC)</ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="1" class="pt-10">DETAILS</ion-col>
      </ion-row>
      <ion-row class="text-color" *ngFor="let tx of transactions">
        <ion-col size="3" class="link-color">{{ tx.txid }}</ion-col>
        <ion-col size="1">{{ tx.blockheight }}</ion-col>
        <ion-col size="1">{{ tx.time }}</ion-col>
        <ion-col size="5">
          <ion-row *ngFor="let item of tx.details">
            <ion-col size="5">{{ item.address }}</ion-col>
            <ion-col size="5">
              <ion-badge color="primary" *ngIf="item.category === 'receive'">IN</ion-badge>
              <ion-badge color="danger" *ngIf="item.category === 'send'">OUT</ion-badge>
            </ion-col>
            <ion-col size="2">{{item.amount}}</ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="1"><ion-icon name="ellipsis-horizontal-outline"></ion-icon></ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
