<ion-content class="pb-footer">
  <div class="ion-padding">
    <div class="bg-white ion-padding">
      <div class="flex">
        <h2 id="color-header-text" class="ellipsis">
          Color Identifier: {{ colorId }}
        </h2>
      </div>
      <ion-item-divider></ion-item-divider>
      <ion-grid class="text-color">
        <ion-row>
          <ion-col size="2" class="font-w500">Type:</ion-col>
          <ion-col size="10">{{ tokenType }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2" class="font-w500">Total Issued:</ion-col>
          <ion-col size="10">{{ stats.issued_sum }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2" class="font-w500">Total Transferred:</ion-col>
          <ion-col size="10">{{ stats.transferred_sum }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2" class="font-w500">Total Burned:</ion-col>
          <ion-col size="10">{{ stats.burned_sum }}</ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="bg-white ion-padding ion-margin-top">
      <ion-row>
        <ion-col size="12">
          <h3 id="color-header-text">Transactions</h3>
        </ion-col>
      </ion-row>
      <ion-row class="table-header">
        <ion-col size="2" class="pt-10">TXID</ion-col>
        <ion-col size="1" class="pt-10">BLOCK</ion-col>
        <ion-col size="1" class="pt-10">AGE</ion-col>
        <ion-col size="4">
          <ion-row>
            <ion-col size="8">FROM</ion-col>
            <ion-col size="4">VALUE</ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="4">
          <ion-row>
            <ion-col size="8">TO</ion-col>
            <ion-col size="4">VALUE</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="text-color table-border-bottom" *ngFor="let tx of txs">
        <ion-col
          size="2"
          (click)="goToTransaction(tx.txid)"
          class="link-color cursor-pointer ellipsis"
          >{{ tx.txid }}</ion-col
        >
        <ion-col size="1">{{ tx.status?.block_height || "" }}</ion-col>
        <ion-col size="1">{{ tx.status?.block_time | momentFromNow }}</ion-col>
        <ion-col size="4">
          <ion-row *ngFor="let input of tx.vin">
            <ion-col
              size="6"
              (click)="!input.prevout?.scriptpubkey_uncolored_address || goToAddress(input.prevout?.scriptpubkey_uncolored_address)"
              [ngClass]="{'link-color cursor-pointer ellipsis': input.prevout?.scriptpubkey_uncolored_address}"
              >{{ input.prevout?.scriptpubkey_uncolored_address }}</ion-col
            >
            <ion-col size="2">
              <ion-badge *ngIf="!input.is_coinbase" color="primary"
                >IN</ion-badge
              >
              <ion-badge *ngIf="input.is_coinbase" color="warning"
                >COINBASE</ion-badge
              >
            </ion-col>
            <ion-col
              size="4"
              class="ion-text-right"
              *ngIf="input.is_coinbase"
            ></ion-col>
            <ion-col size="4" class="ion-text-right" *ngIf="!input.is_coinbase"
              >{{ input.prevout?.value | asTpc}}
              <span
                *ngIf="!!input.prevout.colorId"
                class="link-color cursor-pointer"
                (click)="goToCoin(input.prevout.colorId)"
                >COIN
              </span>
              <span *ngIf="!input.prevout.colorId">TPC</span>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="4">
          <ion-row *ngFor="let output of tx.vout">
            <ion-col
              size="6"
              (click)="!output.scriptpubkey_uncolored_address || goToAddress(output.scriptpubkey_uncolored_address)"
              [ngClass]="{'link-color cursor-pointer ellipsis': output.scriptpubkey_uncolored_address}"
              >{{ output.scriptpubkey_uncolored_address }}</ion-col
            >
            <ion-col size="2">
              <ion-badge color="danger">OUT</ion-badge>
            </ion-col>
            <ion-col size="4" class="ion-text-right"
              >{{ output.value | asTpc }}
              <span
                *ngIf="!!output.colorId"
                class="link-color cursor-pointer"
                (click)="goToCoin(output.colorId)"
                >COIN
              </span>
              <span *ngIf="!output.colorId">TPC</span>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button
          color="primary"
          id="next"
          class="cursor-pointer"
          (click)="onNextPage()"
          >Load More</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
