ion-content {
  --background: var(
    --ion-item-background,
    var(--ion-background-color, #e5e5e5)
  ) !important;
}

#color-header-text {
  @media (max-width: 539px) {
    font-size: 16px;
    margin: 17px 10px 10px;
  }

  @media (min-width: 540px) {
    font-size: 36px;
    margin: 0px 10px 20px;
  }

  font-weight: 500;
}

.table-header {
  background-color: #f6f6f6;
  font-size: 14px;
  color: #aaaaaa;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
