<ion-footer class="ion-no-border">
  <ion-toolbar>
    <img src="../assets/images/footer-tapyrus-logo.png" />
    <ion-grid>
      <ion-row>
        <ion-col size="4" class="border-right">
          <p class="footer-text">Tapyrus powered by Chaintope</p>
          <p class="footer-text">
            Copyright © 2019-2020 Chaintope Inc. All rights reserved.
          </p>
        </ion-col>
        <ion-col size="5" class="border-right">
          <ion-row>
            <ion-col>
              <p class="footer-text ion-text-center">
                <a class="footer-text" href="https://www.chaintope.com/chaintope-blockchain-protocol/" target="_blank">
                  WHAT WE DO
                </a>
              </p>
            </ion-col>
            <ion-col>
              <p class="footer-text ion-text-center">
                <a class="footer-text" href="https://www.chaintope.com/#mission" target="_blank">
                  MISSION & VALUES
                </a>
              </p>
            </ion-col>
            <ion-col>
              <p class="footer-text ion-text-center">
                <a class="footer-text" href="https://www.chaintope.com/en/team/#info" target="_blank">
                  CORPORATE INFO
                </a>
              </p>
            </ion-col>
            <ion-col>
              <p class="footer-text ion-text-center">
                <a class="footer-text" href="https://www.chaintope.com/team/" target="_blank">
                  TEAM
                </a>
              </p>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3">
          <div class="circle-container">
            <div class="circle">
              <a href="https://github.com/chaintope" target="_blank">
              <img src="../assets/images/footer-link-github.png" class="pt-5" />
              </a>
            </div>
            <div class="circle">
              <a href="mailto:info@chaintope.com" target="_blank">
              <img src="../assets/images/footer-link-mail.png" class="pt-6" />
              </a>
            </div>
            <div class="circle">
              <a href="https://www.chaintope.com/" target="_blank">
              <img src="../assets/images/footer-link-chaintope.png" class="pt-8" />
              </a>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
