ion-content {
  --background: var(
    --ion-item-background,
    var(--ion-background-color, #e5e5e5)
  ) !important;
}

#table {
  background-color: #fbfbfb;
}

#table-header {
  background-color: #f6f6f6;
  ion-col {
    color: #aaaaaa;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    padding: 15px 10px;
  }
}

.table-border-bottom {
  border-bottom: 1px solid #f6f6f6;
}

.display-none-max-md {
  @media (max-width: 768px) {
    display: none;
  }
}
